@{
    ViewData["Title"] = "Acerca de";
}
<h1>@ViewData["Title"]</h1>

<p>Demo Drop-Down List with connection an data base Microsoft SQL Server 2019, ASP.Net Core and ADO.Net</p>
<a target="_blank" href="http://blog.hadsonpar.com/2022/12/aspnet-core-drop-down-list-con-adonet.html">More information</a>
